<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spotifyclone">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Music"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:authorities="com.example.spotifyclone.contentprovider"
            android:name=".ui.favorites.FavoriteProvider"></provider>
        <provider
            android:authorities="com.example.spotifyclone.playlist.contentprovider"
            android:name=".ui.playlist.PlaylistProvider"></provider>
        <activity android:name=".MyNowPlaying"></activity>
        <activity android:name=".NowPlaying">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity">

            </meta-data>

        </activity>

        <activity android:name=".ui.playlist.AddPlaylist"></activity>
        <activity android:name=".ui.playlist.Addsong">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity">

            </meta-data>
        </activity>


        <activity android:name=".ui.playlist.MyPlaylist">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity">

            </meta-data>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Music">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MusicService"
            android:enabled="true"/>

        <receiver android:name=".MediaReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>


    </application>

</manifest>